<ion-header>
  <ion-toolbar>
    <ion-title>Datos de Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="formulario">
    <form [formGroup]="formulario">
      <ion-list>
        <ion-item>
          <ion-label color="primary" position="floating">Id</ion-label>
          <ion-input type="text" formControlName="id" [disabled]="id"></ion-input>
        </ion-item>

        <div *ngIf="formulario.controls.id.errors && formulario.controls.id.touched">
          {{formulario.controls.id.errors | json}}
          <ion-item color="danger" *ngIf="formulario.controls.id.errors.required">
            <p>El código del usuario no es válido</p>
          </ion-item>
          <ion-item color="danger" *ngIf="formulario.controls.id.errors.valorUnico">
            <p>El código ingresado ya existe</p>
          </ion-item>
        </div>

        <ion-item>
          <ion-label color="primary" position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="formulario.controls.nombre.errors && formulario.controls.nombre.touched">
          <ion-label>El nombre no es válido</ion-label>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="correo_electronico"></ion-input>
        </ion-item>

        <ion-item color="danger"
          *ngIf="formulario.controls.correo_electronico.errors && formulario.controls.correo_electronico.touched">
          <ion-label>El correo electrónico no es válido</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="dark">Contraseña</ion-label>
          <ion-input type="password" formControlName="clave"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="formulario.controls.clave.errors && formulario.controls.clave.touched">
          <p>La contraseña no es válida</p>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="dark">Perfil</ion-label>
          <ion-input type="text" formControlName="perfil"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="formulario.controls.perfil.errors && formulario.controls.perfil.touched">
          <p>Ingrese el perfil</p>
        </ion-item>

      </ion-list>
    </form>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="eliminar()" *ngIf="id">
        Eliminar
        <ion-icon name="trash" slot="start"></ion-icon>
      </ion-button>

      <ion-button color="success" [disabled]="formulario.invalid" *ngIf="formulario" (click)="guardar()">
        Guardar
        <ion-icon name="save" slot="start"></ion-icon>
      </ion-button>

      <ion-button color="danger" (click)="cerrar()">
        Cancelar
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>