<ion-header>
  <ion-toolbar>
    <ion-title>Datos de Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="formulario">
    <form [formGroup]="formulario">
      <ion-list>
        <ion-item>
          <ion-label color="primary" position="floating">Id</ion-label>
          <ion-input type="text" formControlName="id" [disabled]="id"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Precio</ion-label>
          <ion-input type="number" formControlName="precio"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Cantidad</ion-label>
          <ion-input type="number" formControlName="cantidad"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Activo</ion-label>
          <ion-checkbox color="medium" formControlName="activo" [checked]="formulario.controls.activo.value" mode="md" position="floating"></ion-checkbox>          
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Alerta</ion-label>
          <ion-input type="number" formControlName="alerta"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Actualización</ion-label>
          <ion-datetime formControlName="actualizacion" displayFormat="YYYY-MM-DD"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Estado Inventario</ion-label>
          <ion-input type="text" formControlName="estadoInventario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Fecha Inventario</ion-label>
          <ion-datetime formControlName="fechaInventario" displayFormat="YYYY-MM-DD" [value]="formulario.controls.fechaInventario.value"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Imagen</ion-label>
          <ion-input type="text" formControlName="imagen"></ion-input>
        </ion-item>

      </ion-list>
    </form>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>

      <ion-button color="danger" (click)="eliminar()" *ngIf="id">
        Eliminar
        <ion-icon name="trash" slot="start"></ion-icon>
      </ion-button>

      <ion-button color="success" [disabled]="formulario.invalid" *ngIf="formulario" (click)="guardar()">
        Guardar
        <ion-icon name="save" slot="start"></ion-icon>
      </ion-button>

      <ion-button color="danger" (click)="cerrar()">
        Cancelar
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>