<ion-header>
  <ion-toolbar>
    <ion-title>Datos de Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="formulario">
    <form [formGroup]="formulario">
      <ion-list>
        <ion-item>
          <ion-label color="primary" position="floating">Id</ion-label>
          <ion-input type="text" formControlName="id" [disabled]="id"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="formulario.controls.id.errors && formulario.controls.id.touched">
          <ion-label>El id no es válido</ion-label>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Activo</ion-label>
          <ion-input type="checkbox" formControlName="activo"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="formulario.controls.nombre.errors && formulario.controls.nombre.touched">
          <ion-label>Seleccione si está activo</ion-label>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Alerta</ion-label>
          <ion-input type="phone" formControlName="alerta"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="formulario.controls.telefono.errors && formulario.controls.telefono.touched">
          <ion-label>Alerta no válida</ion-label>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Actualización</ion-label>
          <ion-input type="text" formControlName="actualizacion"></ion-input>
        </ion-item>

        <ion-item color="danger"
          *ngIf="formulario.controls.correo_electronico.errors && formulario.controls.correo_electronico.touched">
          <ion-label>Actualización no es válida</ion-label>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Cantidad</ion-label>
          <ion-input type="text" formControlName="cantidad"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Estado Inventario</ion-label>
          <ion-input type="text" formControlName="estadoinventario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Fecha Inventario</ion-label>
          <ion-input type="text" formControlName="fechainventario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Imagen</ion-label>
          <ion-input type="text" formControlName="imagen"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Máquina</ion-label>
          <ion-input type="text" formControlName="maquina"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Precio</ion-label>
          <ion-input type="text" formControlName="precio"></ion-input>
        </ion-item>       

      </ion-list>
    </form>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>

      </ion-button>

      <ion-button color="danger" (click)="eliminar()" *ngIf="id">
        Eliminar
        <ion-icon name="trash" slot="start"></ion-icon>
      </ion-button>

      <ion-button color="success" [disabled]="formulario.invalid" *ngIf="formulario" (click)="guardar()">
        Guardar
        <ion-icon name="save" slot="start"></ion-icon>
      </ion-button>

      <ion-button color="danger" (click)="cerrar()">
        Cancelar
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>